<ion-view view-title="Welcome to Travelr!" class="bar-assertive">
  <ion-content scroll="false">
    <div id="welcomebackground">
      <div id="welcomecontainer">
        <img src="/images/travelr.png">
        <!--<p>Bon voyage! Keep your trip safe and fun and avoid tickets with Voy.</p>-->
        <p>Avoid pesky "Travelr's Tickets" while you're on the road with your family.</p>
        <form>
          <input type="email" placeholder="email">
          <input type="submit" value="Keep Me Updated" class="button button-assertive button-block">
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
